# Python
__pycache__/
*.py[cod]
*$py.class

# Django
*.log
db.sqlite3
media

# Virtual Environment
.venv/
venv/
ENV/

# VS Code
.vscode/

# Environment variables
.env

# Local development settings
local_settings.py